<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-touch-fullscreen" content="yes" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>
</head>
<body>
<div class="home">

<section>
SimpleApp是一款适用于单页应用的轻型框架。 致力于解决单页应用的前端路由，页面管理，页面切换等问题。目前依赖于zepto.js。 
<p class="desc">
	
</p>
</section>

<section>
<h3>Demo:</h3>
<p id="home_link1" class="btn">关于路由的展示</p>
<p id="home_link2" class="btn">页面切换的展示</p>
</section>

<h3>如何使用:</h3>
<section>
	<ul class="rules">
	<li>1 每个页面定义一个控制器,控制器的名字由定义时候的name属性 + "Controller"组成如：<br>
    <code>
    	var pageAController = new SimpleApp.PageController({
			name: 'pageA',                //页面名字
			tpl : 'template/pageA.html'   //页面模板
		})
    </code>
    <br> 注意：这个name在整个app中必须是唯一的，而且会自动对应到该页面dom的id。如name="pageA", 则调用show方法时候，会自动生成一个id为pageA的div        </li>
    <li>
    	2 每个页面的显示用控制器的show方法来展示
        如 从pageA -> pageB,  则调用pageBController.show(); 如果想要在展示pageB后，回调pageBController的方法A则可以这样写
        <code>
        	pageBController.show('',function(){
            	pageBController.A()
            })
        </code>
    </li>
    <li>
    	3 每个页面的回退调用控制器的goBack方法 
        如从 pageB -> pageA, 则调用 <code>pageBController.goBack();</code>
    </li>
    <li>
    	4 每个页面的初始化工作由控制器的init方法里实现，如页面数据接口的请求与后续模板填充等等.
    </li>
    <li>
    	5 每个页面的控制器的变量重置工作由控制器的setDefConfig方法实现，框架里只是空方法。在每个控制器里可自由重写。
    <li>
    <li>
    	6 首页控制器homeController是必须要定义的，他担负着渲染首页的工作。并且name默认是home ，这个默认值可以修改，可以通过初始化方法，<code>SimpleApp.Global.init({'idxName':'yourName'})</code>修改为yourName
    <li>
    	7 使用环境。由于在调用控制器的show方法时，会利用xhr请求页面模板，所以请放在http环境进行开发与测试。由于框架本身只针对移动端单页app,请在用pc浏览本页面时候采用chrome手机模拟器环境.
    </li>
    </ul>
</section>

<section>
<h3>注意事项:</h3>
	<ul class="rules">
    	<li>1 由于单页app的特殊性，页面元素的id命名冲突的可能性相较普通web页面有加大的可能。所以建议一种id命名方式，以每个一级页面[即class=page]的id为前缀。如homeController对应的页面[id="home"], 这个页面里面的一个后退按钮的id可以命名为"home_back"。而pageAController控制器对应的页面[id="pageA"]，这个页面的一个后退按钮id可以命名为"pageA_back".  以此类推。
    
    </ul>
</section>




	



</div>


</body> 

</html>