<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-touch-fullscreen" content="yes" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>

</head>
<body>
<div class="pageF">
<header><p id="pageF_back">返回</p></header>
<p class="center font18">这是pageF页面</p>

<div class="mt30">
	<p class="btn" id="pageF_toPageG">去pageG</p>
</div>
</div>

</body> 

</html>