<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-touch-fullscreen" content="yes" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>

</head>
<body>
<div class="pageE">
<header><p id="pageE_back">返回</p></header>


<div class="mt30 desc">
	<p class="center">所看到的页面间的切换就是默认的渐隐渐现模式</p>
	<p class="btn" id="pageE_fade">渐隐渐现模式</p>
</div>

<div class="mt30 desc">
	<p class="center">所看到的页面间切换就是页面左右滑动的模式</p>
	<p class="btn" id="pageE_slide">切换到划屏模式</p>
</div>

</div>

</body> 

</html>